* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.profile-card {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-img-container {
    width: 100%;
    background-color: #a9c2cf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-content {
    width: 100%;
}

.profile-header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #259ddd;
}

.profile-details {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    justify-content: start;
}


.contact-info p i {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .profile-card {
        width: 90%;
    }
}
